<h1>Admin#actions</h1>
<ol>
<li>
<p>
<b>List users by school</b>
<%= form_tag :action => 'list_users' %>
  <input type="text" name="school_name" id="school_name", size="40"/> 
  <input type="submit" value="List users!"/>
</form>

<%= fast_auto_complete_field :school_name, :url => '/auto_complete_for_school_name', :fullSearch => true, :frequency => 0, :minChars => 1, :choices => 15 %>
</p>
</li>
<li>
<p><%= link_to 'List schools', :action => 'list_schools'%></p></li>
