<% content_for :header do %>
  <div style="display:none;"><h1>Getting Started</h1></div>
<% end  %>


  <style type="text/css">
    p {
      font-size:18px;
      margin-top:-10px;
    }

             .addthis_toolbox .vertical
{
    margin-top:-18px;
    margin-bottom:5px;
    padding: 10px 0 10px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.addthis_toolbox .vertical a
{
    padding: 4px 7px 4px 34px;
    position: relative;
    display:inline;
    text-decoration: none;
    color: blue;
}

.addthis_toolbox .vertical a:hover
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #B4D3F8;
    text-decoration: none;
}

.addthis_toolbox .vertical span
{
    position: absolute;
    left: 14px;
    top: 4px;
}

  </style>

  <h2>Welcome to Xiggit - the college student marketplace! </h2>
    <h3>&nbsp;Here&rsquo;s a quick introduction to help get you started:</h3>

  <ol>
    <li>
      <h2>Search Bar</h2>
      <p>
      Use the <span style="font-family:'DeliciousBold'"><%= link_to 'price comparison tool', :controller => 'home', :action => 'price_compare' %> </span> to search for the <span class="deliciousbold">lowest prices</span> across the internet.<br />


Search the <%= link_to 'local listings', :controller => 'book_post', :action => 'list' %> to find sellers on your campus.
      </p>
    </li>

    <li>
      <h2>User Panel</h2>
      <p>The <span class="deliciousbold">checklist</span> can help you keep track of books and courses.</p>
      <p>
        You can use the <span class="deliciousbold">book bag</span> to quickly store listings.
      </p>
    </li>

    <li>
      <h2>Feedback</h2>
      <p>Vote on features and suggest new ones by clicking on the blue feedback tab on the left.
        We'd love to hear from you!   <%#= mail_to "feedback@xiggit.com", "feedback@xiggit.com", :encode => "javascript" %>  </p>
    </li>

       <li>
    <h2>Tell all your friends!</h2>
    <p>Xiggit needs your help in becoming the quickest, easiest way to buy and sell textbooks.  Share the love!

    <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox">
    <div class="vertical">
        <a class="addthis_button_email" addthis:url="http://www.xiggit.com">Email</a>
        <a class="addthis_button_stumbleupon" addthis:url="http://www.xiggit.com">Stumble</a>
        <a class="addthis_button_digg" addthis:url="http://www.xiggit.com">Digg</a>
        <a class="addthis_button_twitter"  addthis:title="checkout the textbook black market" addthis:url="http://www.xiggit.com">Twitter  </a>
        <a class="addthis_button_facebook" addthis:url="http://www.xiggit.com" addthis:description="Check out Xiggit, the textbook black market!">Facebook</a>
            <a class="addthis_button_expanded">More</a>
    </div>
</div>


<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=likeachild"></script>
<!-- AddThis Button END -->


    </li>
  </ol>
