<div id='user_home'>
<h1>Welcome back!</h1>



<% unless BookPost.find_all_by_uid(current_user.id).blank? %>
Click below to edit or delete your listings.
</div>
<div>
<hr />
<b>Your active listings</b>
    <ul class="links">
<% if current_user %>
      <% BookPost.find_all_by_uid(current_user.id).each do |b| %>
      <p>
      <li><%= link_to_remote b.title, :update => 'user_home', :url => { :controller => 'book_post', :action => 'show_partial', :id => b.id },  :complete => visual_effect(:opacity, "content", :from => 0.5, :to => 1.0, :duration => 1.1) %>
      
      <div style="display:inline; float:right; margin-right:100px;">
<%= link_to 'Delete', {:controller => 'book_post', :action => 'delete', :id => b.id}, {:confirm => 'Are you sure you want to delete?  There is no undo.'} %></div>
      </li></p>
      <% end %>
      <% else %>
      <li>There was a problem loading your listings.  Please make sure that you are logged in and refresh the page.</li>
      <% end %>
    </ul>
    </div>
    
    <% else %>
    You have no listings.  Click here to <%= link_to 'post your books', :controller => 'book_post', :action => 'new' %>!
    </div>
    <% end %>
