<h1><%= "views/home/home.html " %>  <br /><br />
  This screen is the default page for users that clicked "don't show this again" on the getting started page.</h1>
<h2>Add a redirect_to in the HOME controller to default to another action</h2>