<h1>The easiest way to buy and sell.<br /></h1>
  <h3>Click the button below to get started.</h3>
  <br />  <br />

   <%= fb_login_button remote_function(:update => 'fb_connect', :url => login_path, :complete => 'FB.XFBML.Host.parseDomTree()'), :size => :large, :background => :white, :length => :long %>