  <li id="numbered">
    <h3>My Listings</h3>
    <ul class="links">
<% if @current_user %>
      <% BookPost.find_all_by_uid(@current_user.facebook_id).each do |b| %>
      <li><%= link_to_remote truncate(b.title, :omission => "...", :length => 28), :update => 'content', :url => { :controller => 'book_post', :action => 'show', :id => b.id },  :complete => visual_effect(:opacity, "content", :from => 0.3, :to => 1.0, :duration => 1.1) %></li>
      <% end %>
      <% else %>
      <li>There was a problem loading your listings.  You can try refreshing the page.</li>
      <% end %>
    </ul>