<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Xiggit</title>

<link rel="image_src" type="image/jpeg" href="http://www.xiggit.com/fbthumb.png" /> 
<%= stylesheet_link_tag("styles3") %>
<%= javascript_include_tag :defaults %>

</head>
<body>

  <div id="wrapper3">

<img src="http://www.xiggit.com/images/logo.png" alt="Xiggit - the textbook black market"/>
<br /><br />

<%= yield -%>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11557446-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>

        <!-- all graphics and artwork Copyright 2010 Benjamin Shyong.  All Rights Reserved. -->
